extends layout

block meta
  meta(id='singout-room', content=room.roomId)
  meta(id='singout-username', content=userName)
  meta(id='singout-userid', content=userId)
  meta(id='singout-servers', content=stunturnServers)
  meta(id='singout-hub', content=hubSlug)
  meta(id='singout-video', content=room.video ? 'true' : 'false')


block content
  div.card.rounded.m-2
    h1.h4.card-header= title
    div.card-body
      div.table-responsive
        table.table.table-slimline
          tbody#peer-table-body
      div#audio-tags
  div.card.rounded.m-2
    div.card-body
      a(href='/halls')
        div.text-left
          i.fa.fa-sign-out.fa-flip-horizontal.btn.btn-primary
          span.ml-3 Return to the lobby

block application-scripts
  script(src='/js/index.bundle.js')