extends layout

block meta
  meta(id='singout-room', content=room.roomId)
  meta(id='singout-username', content=userName)
  meta(id='singout-userid', content=userId)
  meta(id='singout-servers', content=stunturnServers)
  meta(id='singout-hub', content=hubSlug)

block content
  div.card.m-2
    div.card-body
      h1.h4.card-title= title
    div.table-responsive
      table.table.table-slimline
        thead
          th.align-baseline Name
          th.align-baseline It's me
        tbody#peer-table-body
    div#audio-tags



block application-scripts
  script(src='/js/index.bundle.js')